﻿.row >div{
    padding:.3rem!important;
}
.card{
    margin-bottom:0.6rem !important;
}
.card-header{
    padding:0.6rem!important;
}
.card-body {
    border-top: 1px solid rgb(208, 202, 202) !important;
    
    padding:1rem!important;
}
h5.card-title {
    font-size: 1.2em !important;
}
.datatable-header{
    padding:0px!important;
}

.btn-xx {
    padding: .3em 0.4em;
}

.btn-xxx {
    padding: .1em 0.1em;
    height: 22px;
}