﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DivEditor.aspx.cs" MasterPageFile="~/MasterPages/BAMaster.master" Inherits="Sys_DivEditor" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
   

</asp:Content>

