﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="CMMaster.master.cs" Inherits="MasterPages_CMMaster" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="../Limitless_Bootstrap_4/Template/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="../Limitless_Bootstrap_4/Documentation/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../Limitless_Bootstrap_4/Documentation/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="../Limitless_Bootstrap_4/Documentation/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="../Limitless_Bootstrap_4/Documentation/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="../Limitless_Bootstrap_4/Documentation/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/main/jquery.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
     <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
    
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/pickers/daterangepicker.js"></script>
   <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/pickers/anytime.min.js"></script>
	<script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
	<script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>
	<script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/pickers/pickadate/picker.time.js"></script>
	<script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/pickers/pickadate/legacy.js"></script>

    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/notifications/pnotify.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/notifications/sweet_alert.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/forms/wizards/steps.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/forms/selects/select2.min.js"></script>
     
	<script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/extensions/cookie.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/loaders/progressbar.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/datatables_basic.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/layout_1/LTR/default/full/assets/js/app.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/editor_summernote.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/dashboard.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/form_wizard.js"></script>
    
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/form_wizard.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/extra_pnotify.js"></script>
    
	<script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/components_popups.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/picker_date.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/extra_sweetalert.js"></script>

    
	<script src="../Limitless_Bootstrap_4/Template/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/form_validation.js"></script>
    <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/form_multiselect.js"></script>
 <%--   <script src="../Limitless_Bootstrap_4/Template/global_assets/js/demo_pages/form_controls_extended.js"></script>--%>

    <!--Custom Global CSS-->
    <link rel="stylesheet" href="../CSS/Global.css"/>
    <!-- /theme JS files -->
    <script>
        function OpenIframePopUp(ModalCaption,Src) {
            //alert('clicked');
            $("#IframePopUpModal").modal("show");
            var url = '../Web/IframePeriodList.aspx?CalendarKey=0C23E92C-007C-42D2-9992-1EA74C5BBC0C';
            $("#ModalCaption").text(ModalCaption);
         //   $('#IframeContent').load(url);
            $('#GlobalIframe').attr('src', Src);
            

            
        }
        function AutoIframePopUpHeight() {
            //   console.log('XXXX');
            var iFrameID = document.getElementById('GlobalIframe');
            if (iFrameID) {
                var height = iFrameID.height;
                var height2 = iFrameID.contentWindow.document.body.scrollHeight + "px";
                // console.log(height + "----" + height2);
                if (height != height2) {
                    iFrameID.height = (iFrameID.contentWindow.document.body.scrollHeight) + 3 + "px";
                }
                // here you can make the height, I delete it first, then I make it again
                // iFrameID.height = "";
                //  iFrameID.height = (iFrameID.contentWindow.document.body.scrollHeight + 3) + "px";

            }
        }

        $(document).ready(function () {
            setInterval(AutoIframePopUpHeight, 1000);
        });

        

    </script>
     <script type="text/javascript">

        function OpenPopUp(PopupCaption, TableName, Keyvalue, P1, P2, P3) {

            //alert('clicked');
            $("#modal_default").modal("show");
            var url = '../Sys/DivReader.ashx?type=get&tname=' + TableName + '&key=' + Keyvalue + '&p1=' + P1 + '&p2=' + P2 + "&p3=" + P3;
            $("#popupcaption").text(PopupCaption);
            $('#div_Master').load(url);

            //store table name and key value to hidden field
            $("#hdTableName").val(TableName);
            $("#hdKeyValue").val(Keyvalue);

        }

        function DeleteRecord() {
            //UpdatePopUp();

            //return;
            var TableName = $("#hdTableName").val();
            var Keyvalue = $("#hdKeyValue").val();
            var ControlValues = $("#div_Master :input,select,textarea").serialize();
            //alert(ControlValues);
            $.ajax({
                type: "POST",
                url: "../Sys/DivReceiver.aspx/deleteContent",
                data: "{str_TableName:'" + TableName + "',str_ControlValue:'" + ControlValues + "',str_KeyValue:'" + Keyvalue + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert(data.d);
                    $//("#div_message").val(data.d);
                    $("#modal_default").modal("hide");
                    document.location.reload(true);
                    //if (data.d == "true") {
                    //    if (data.d == "true") {
                    //        alert("Successfully Saved")
                    //    }
                    //}
                    //else
                    //    alert("Error")
                },
                error: function () {
                    alert('Error communicating with server');
                }
            });
        }

        //Functionalities for Image Upload

        function OpenImagePopUp(PopupCaption, TableName, ImageKey) {
            $("#mdl_ImagePopup").modal("show");
            $("#hdn_ImageKey").val(ImageKey);
            $("#hdn_TableName").val(TableName);
            $("#Imagepopupcaption").text(PopupCaption);
            var ImageName = "";
            if (ImageKey != '') {
                $.ajax({
                    type: "POST",
                    url: "../Sys/DivReceiver.aspx/GetFileName",
                    data: "{ImageKey:'" + ImageKey + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.d.startsWith("Exception")) {
                            return;
                        }
                        else if (data.d == '') {
                            ImageName = "../UploadFile/NoImage.png";
                            $("#img_Popup").attr("src", ImageName);
                            return;
                        }
                        else {
                            $("#hdn_FileName").val(data.d);
                            ImageName = "../UploadFile/Image/" + ImageKey + "_" + data.d;
                            $("#img_Popup").attr("src", ImageName);
                        }
                    },
                    error: function () {
                        alert('Error communicating with server');
                    }
                });
            }
            else {
                ImageName = "../UploadFile/NoImage.png";
                $("#img_Popup").attr("src", ImageName);
            }
        }

        function ImageChange(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img_Popup').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function FileUpload() {
            var ImageKey = $("#hdn_ImageKey").val();
            var ImageTabelName = $("#hdn_TableName").val();
            var fileUpload = $("#fl_Img").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "../Sys/FormFile.ashx?fname=" + ImageTabelName + "&ImageKey=" + ImageKey,
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function (data) {
                    SaveImageRecord(ImageKey, ImageTabelName);
                },
                error: function () {
                    alert('Error occured in File upload');
                }

            });

        }

        function SaveImageRecord(ImageKey, ImageTabelName) {
            var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '')
            if (filename != '')
                $("#hdn_ImagePath").val(filename);
            else $("#hdn_ImagePath").val($("#hdn_FileName").val());

            $("#hdn_ImageKey").val(ImageKey);
            var ControlValues = $("#div_Image :input").serialize();
            ajaxMethodForSaveRecord(ImageTabelName, ControlValues, ImageKey);
        }

        //Common Save Method
        function ajaxMethodForSaveRecord(TableName, ControlValues, Keyvalue) {
            $.ajax({
                type: "POST",
                url: "../Sys/DivReceiver.aspx/putDivContent",
                data: "{str_TableName:'" + TableName + "',str_ControlValue:'" + escape(ControlValues) + "',str_KeyValue:'" + Keyvalue + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert(data.d);
                    if (data.d.startsWith("Exception")) {
                        return;
                    }
                    $("#modal_default").modal("hide");
                    $("#mdl_ImagePopup").modal("hide");
                    document.location.reload(true);
                },
                error: function () {
                    alert('Error communicating with server');
                }
            });
        }

        function GotoSignOutPage() {
            window.location.assign('../LogOut.aspx');
        }

        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                s4() + '-' + s4() + s4() + s4();
        }

        function SaveRecord() {
            //if ($("#form_popup").valid()) {
            //loop controls in div_master and check for file control and file name, if exists, 
            $("#div_Master").find("input[type=file]").each(function () {

                var Filename = $('#' + this.id).val().replace(/C:\\fakepath\\/i, '');
                if (Filename != null && Filename != "") {
                    var FileNameToDB = guid();
                   
                    var FileNameToStore = FileNameToDB + '_' + Filename;

                    var FileHiddenControlId = this.id.replace("_upload", "");
                    $("#div_Master").append("<input type='hidden' id='" + FileHiddenControlId + "' name='" + FileHiddenControlId + "' value='" + FileNameToStore + "' />");

                    SaveFile(Filename, this.id, FileNameToDB);
                }
            });
            var TableName = $("#hdTableName").val();
            var Keyvalue = $("#hdKeyValue").val();

            var ControlValues = $("#div_Master :input,select,textarea").serialize();
            ajaxMethodForSaveRecord(TableName, ControlValues, Keyvalue);
            return false;
            //}
        }

        function SaveFile(FileName, controlId, FileNameToStore) {
            var fileUpload = $("#" + controlId).get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length; i++) {
                data.append(files[i].name, files[i]);
            }

            $.ajax({
                type: "POST",
                url: "../Sys/FormFile.ashx?ImageKey=" + FileNameToStore+ "&TableName=" + $("#hdTableName").val(),
                data: data,
                //enctype: 'multipart/form-data',
                contentType: "application/json;charset=utf-8",
                processData: false,
                contentType: false,
                async: false,

                success: function (data) {

                },
                error: function () {
                    alert('Error occured in File upload');
                }

            });
        }

    </script>

    <script type="text/javascript">
        function callinvite(SubscriberKey, AppointmentKey) {
            var IsCreateRoom = 1;
            $("#btn_Invite").attr("disabled", "disabled");
            //if (SessionKey == "") {
            //    IsCreateRoom = 1;
            //}
            $.ajax({
                type: "POST",
                url: "Dashboard.aspx/CreateRoom",
                data: "{Str_SessionKey:'',str_Token:'',str_RoomKey:'',Str_SubscriberKey:'"
                    + SubscriberKey + "',Str_IsCreateRoom:'" + IsCreateRoom + "',Str_AppointmentKey:'" + AppointmentKey + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var Msg = data.d.split('&&');
                    alert(Msg[0]);
                    window.location.assign("Video.aspx?SessionKey=" + Msg[1] + "&Token=" + Msg[2] + "&RoomKey=" + Msg[3] + "&DoctorKey=" + Msg[4]);
                },
                error: function () {
                    alert("Error in communication server");
                }
            });
        }

        function JoinInvite(SessionKey, Token, RoomKey, SubscriberKey) {
            $.ajax({
                type: "POST",
                url: "Dashboard.aspx/UpdateJoinTime",
                data: "{Str_SubscriberKey:'" + SubscriberKey + "',str_RoomKey:'" + RoomKey + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //window.location.assign("Video.aspx?SessionKey=" + SessionKey + "&Token=" + Token + "&RoomKey=" + RoomKey + "&DoctorKey=" + SubscriberKey);
                    window.open("Video.aspx?SessionKey=" + SessionKey + "&Token=" + Token + "&RoomKey=" + RoomKey + "&DoctorKey=" + SubscriberKey, '_blank');
                }
            });
            //window.location.assign("Video.aspx?SessionKey=" + SessionKey + "&Token=" + Token + "&RoomKey=" + RoomKey + "&DoctorKey=" + SubscriberKey);
            window.open("Video.aspx?SessionKey=" + SessionKey + "&Token=" + Token + "&RoomKey=" + RoomKey + "&DoctorKey=" + SubscriberKey, '_blank');
        }

    </script>
    <script>
        function AlertPopUp(title,text,type) {
            swal({
                title: title,
                text: text,
                type: type
            });
        }

        function AlertNotify(title,text,cssClass) {
            new PNotify({
                title: title,
                text: text,
                addclass: cssClass
            });
        }

        function ChangeLanguage(this) {
            $('.skiptranslate').addClass('d-none');
            $('body').css('top', '0px');
            $('.goog-te-combo').val();
        }
    </script>



    <style>
        .navbar-brand img {
            height: 2.6rem !important;
            /*width:15rem !important;*/
        }

        .IFrameStyle{
            

            border: none;
            box-shadow: -1px 1px 9px 0px #1908081c;
            border-top: 3px solid #1fe61f;

        }
    </style>
	 <asp:ContentPlaceHolder id="title" runat="server" /> 
</head>
<body>
    <form class="form-validate-jquery" id="Form1" runat="server">
        <!-- Main navbar -->
                        <div class="navbar navbar-dark navbar-expand-md">
                                    <div class="navbar-brand p-0 p-2">
                                        <a href="../Web/Dashboard.aspx" class="d-inline-block font-size-lg text-white">
                                           <%-- <img src="../Limitless_Bootstrap_4/Template/global_assets/images/logo_light.png" alt="">
                                           --%>

                                             <img id="CompanyHeaderLogo" runat="server" src="../UploadFile/Logo/Compmission_Logo.png" alt="">
                                           
                                        </a>
                                    </div>

                                    <div class="d-xl-none">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-demo1-mobile">
                                            <i class="icon-grid3"></i>
                                        </button>
                                    </div>

                                    <div class="navbar-collapse collapse" id="navbar-demo1-mobile">
                                        

                                       <%-- <span class="navbar-text ml-xl-3">
                                            <span class="badge bg-success">Online</span>
                                        </span>--%>
                                        <div id="google_translate_element"></div>



                                        <ul class="navbar-nav ml-xl-auto">
                                            <li class="nav-item">
                                                <div class="">
                                               

                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="navbar-nav-link">
                                                    <i class="icon-bell2"></i>
                                                    <span class="d-xl-none ml-2">Notifications</span>
                                                    <span class="badge badge-pill bg-warning-400 ml-auto ml-xl-0">2</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="navbar-nav-link">
                                                    <i class="icon-bubbles4"></i>
                                                    <span class="d-xl-none ml-2">Messages</span>
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown dropdown-user"> 
                                                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <img src="../Limitless_Bootstrap_4/Template/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" alt="">
                                                    <span id="lbl_UserName" runat="server"> </span><small id="lbl_RoleName" runat="server"></small>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                                                    <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="../Web/ChangePassword.aspx" class="dropdown-item"><i class="icon-cog5"></i> Change Password</a>
                                                    <a href="../Web/Logout.aspx" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                               <div class="navbar  navbar-expand-md navbar-light  navbar-component rounded" style="z-index: 27; margin:0px">
                                
                                <div class="navbar-brand d-md-none">
                                        <a href="index.html" class="d-inline-block">
                                            <img src="../Limitless_Bootstrap_4/Template/global_assets/images/logo_light.png" alt="">
                                        </a>
                                    </div>
                                <div class="d-xl-none text-right">
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-navigation">
                                        <i class="icon-menu"></i>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse" id="navbar-navigation">
                                    <ul class="navbar-nav">
                                        <asp:PlaceHolder ID="ph_UserMenu" runat="server"></asp:PlaceHolder>
                                      <%--  <li class="nav-item"><a href="dashboard.aspx" class="navbar-nav-link "><i class="icon-home4 position-left"></i> Dashboard</a></li>
                                        
                                        <li class="nav-item dropdown">
                                            <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs position-left"></i> BUSSINESS SETUP</a>
                                            <div class="dropdown-menu">
                                                <a href="../Web/CompanySetup.aspx" class="dropdown-item">Company Setup</a>
                                                <a href="../Web/PayPeriod.aspx"class="dropdown-item">Pay period</a>
                                                <a href="../Web/territory.aspx" class="dropdown-item">Territory </a>
                                                <a href="../Web/Recipients.aspx" class="dropdown-item">Recipitents</a>
                                                <a href="../Web/Customers.aspx" class="dropdown-item">Customers</a>
                                                <a href="../Web/Products.aspx"class="dropdown-item">products</a>
                                                <a href="../Web/Transaction.aspx" class="dropdown-item">Transactions</a>
                                                <a href="../Web/Currency.aspx" class="dropdown-item">Currency</a>
                                                <a href="../Web/CurrencyRateConversion.aspx" class="dropdown-item">Currency Rate Conversion</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-cog52 position-left"></i> COMMISSION SETUP</a>
                                            <div class="dropdown-menu">
                                                <a href="CommissionList.aspx" class="dropdown-item">Commission</a>
                                              
                                                <a href="Adjustments.aspx" class="dropdown-item">Adjustments</a>
                                            </div>
                                        </li>
                                        
                                        <li class="nav-item dropdown">
                                            <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-clipboard2 position-left"></i>  APPROVALS</a>
                                            <div class="dropdown-menu">
                                                <a href="Agreement.aspx" class="dropdown-item">My Agreement (U)</a>
                                                <a href="WorkFlow.aspx" class="dropdown-item">Work Flow</a>
                           
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-books position-left"></i> CONFIGURATION</a>
                                            <div class="dropdown-menu">
                                                <a href="import.aspx" class="dropdown-item">IMPORTS</a>
                                                <a href="#" class="dropdown-item">EXPORTS</a>
                                                <a href="#" class="dropdown-item">Doc Masters</a>
                                                <a href="goal.aspx" class="dropdown-item"> Goals</a>
                                                <a href="range.aspx" class="dropdown-item">Range </a>
                                                <a href="split.aspx" class="dropdown-item">Split </a>
                                                <a href="manager_override.aspx" class="dropdown-item">Manager Override </a>
                                                <a href="threshold.aspx" class="dropdown-item">Threshold</a>
                                                <a href="draw.aspx" class="dropdown-item"> Draw</a>
                                                <a href="account_tsn.aspx" class="dropdown-item"> Account Transaction</a>
                                                <a href="policy_tsn.aspx" class="dropdown-item">Policy Transaction</a>
                                            </div>
                                        </li>
                                        <li class="nav-item"><a href="#" class="navbar-nav-link"><i class=" icon-stack-text position-left"></i> REPORTS</a></li>
                                        <li class="nav-item dropdown">
                                            <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-clipboard2 position-left"></i>  Configurations</a>
                                            <div class="dropdown-menu">
                                                <a href="../Web/MenuList.aspx" class="dropdown-item">Menu</a>
                                                
                                                <a href="../Web/RoleList.aspx" class="dropdown-item">Role List</a>
                                                <a href="../Web/Roles.aspx?Id=" class="dropdown-item">Roles</a>

                           
                                            </div>
                                        </li>--%>


                                    </ul>

                                   
                                </div>
                            </div>
                            
    <!-- Main content -->
        <div class="content-wrapper mb-3">

           


            <!-- Content area -->
            <div class="content">
                        
 <asp:ContentPlaceHolder id="contentPlaceHolder" runat="server" />
                        
                       
            
                </div>
    <!-- / content area -->
            
        </div>
        <!-- /main content -->

     <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light fixed-bottom">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; 2019. <a href="http://compmission.com">comPmission</a> by <a  href="http://rakatech.com" target="_blank">Raka Technololgy</a>
                    </span>

                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item"><a href="http://compmission.com/CRM/Web/Login.aspx" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
                      <%--  <li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                        <li class="nav-item"><a href="#" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>--%>
                    </ul>
                </div>
            </div>
            <!-- /footer -->
         <div id="modal_default" class="modal fade" role="dialog">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title"><span id="popupcaption"></span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                        
                            <div id="div_Master"></div>                        
                    </div>
                    <hr />
                    <div class="modal-footer">
                        <button id="deleteButton" style="display: none" class="btn btn-danger pull-left" onclick="DeleteRecord();"><i class="material-icons">delete_forever</i></button>
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button id="btn_SaveRecord" type="button" class="btn btn-primary" onclick="return SaveRecord();">Save</button>
                    </div>
                </div>
            </div>
        </div>

         <div id="IframePopUpModal" class="modal fade" role="dialog">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title"><span id="ModalCaption"></span></h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                        
                          <iframe id="GlobalIframe" class="IFrameStyle" height="100%" width="100%" src=""></iframe>       
                       
                    </div>
                  
                </div>
            </div>
        </div>

        <input type="hidden" id="hdTableName" />
        <input type="hidden" id="hdKeyValue" />

    </form>
</body>
</html>

